body {
  width: 100%;
}

.colorBox {
  width: 50px;
  height: 50px;
}

.logo {
  display: block;
  margin: 32px auto;
  height: 246px;
  width: 246px;
}

header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p,
ul {
  width: 400px;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

li {
  margin: 0;
  line-height: 26px;
  margin-left: 20px;
}

.blur {
  filter: blur(5px);
}

.changerBox {
  text-align: center;
  margin: 25px;
}

.changer {
  font-size: .5em;
  text-transform: uppercase;
  padding: 20px;
}

.copyright {
  display: block;
  margin: 0 auto;
  width: 400px;
  font-family: 'helvetica neue', sans-serif;
  font-size: .5em;
}

h2 {
  padding-bottom: 12px;
}

.btn {
  border-radius: 9px;
  font-family: Courier New;
  color: #fff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 2px auto;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

